@font-face{
  font-family: 'Involve-Regular';
  src:
  url('../fonts/Involve-Regular.ttf'),
  url('../fonts/Involve-Medium.ttf'),
  url('../fonts/Involve-Regular.ttf'),
  url('../fonts/Involve-SemiBold.ttf');
  }

  @font-face{
    font-family: 'Involve-Bold';
    src: 
    url('../fonts/Involve-Bold.ttf');
    font-weight: normal;
    font-style: italic;
    }
    
body {
  margin: auto;
  background-color: #A8F2FF;
  width: 1440px;
  min-height: 1024px;

  /*background-image: url('../public/Main.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;*/
}
/*.content {
	width: 1120px;
  height: 860px;
	margin: 32px auto 32px auto;
	backdrop-filter: blur(10px); 
  border-radius: 8px;
}*/
header {
	display: flex;
  height: 120px;
  font-family: 'Involve-Regular';
  font-size: 20px;
  color: #090909CC;
	align-items: center;
	justify-content: space-between;
	padding: 10px 32px 56px 32px;
  background-image: url('../images/head.png')
}
.logo {
  display: flex;
  font-size: 40px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  
}
.logo img {
  padding-left: 8px;
  padding-top: 5px;
  padding-right: 10px;
}
nav  {
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding-right: 100px;
}
a {
  color: #090909CC;
  text-decoration: none;
  }

.contact {
display: flex;
width: 180px;
justify-content: space-between;
 } 

main {
  height: 396px;
}
.f1 {
  position: relative;
  height: 105px;
}
.f2 {
  position: relative;
  height: 65px;
}
.delf1 {
  
  position: relative;
  top: -264px;
 /* left: -610px;   transform: rotate(-20deg);*/
  height: 0px;
}
.delf1 img {
  clip-path: polygon(4% 0, 100% 0, 100% 100%, -6% 108%);
}
.f3 {
  position: relative;
  height: 100px;
}
.f4 {
  position: relative;
  height: 100px;
}